/* app/static/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {    
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

header {
    margin-bottom: 20px;
}

header h1 {
    color: #007bff;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    width: 300px;
}

button {
    padding: 10px 15px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #007bff;
    color: #fff;
}

thead th {
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

a.btn-view {
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
}

a.btn-view:hover {
    background-color: #0056b3;
}

/* Estilos para la barra de búsqueda */
form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    width: 300px;
}

button {
    padding: 10px 15px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para la paginación */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #0056b3;
}
